{% extends "../partials/layout.twig" %}
{% block links %}


<link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
{% endblock %}
{% block main %}
    
    
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            {% include "./sidebar.twig" %}
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                {% include "./nav.twig" %}
                </div>

            </div>

        </div>

    </body>

{% endblock %}
{% block scripts %}
<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
{% endblock %}