{% extends "./layout.twig" %}
{% block main %}
    {% include "../partials/sidebar.twig" %}
    {% include "../partials/nav.twig" %}
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <h1>{{ title }}</h1>
        </div>

    </body>

{% endblock %}