{% extends "./layout.twig" %}
{% block main %}
{% include "../partials/nav.twig" %}
<div class="jumbotron">
 <h1 class="text-center mt-5">{{ title }}</h1>
</div>
<div>
{% include "./sidebar.twig" %}
z
</div>

{% endblock %}