{% extends "./layout.twig" %}
{% block main %}
    
    
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            {% include "../partials/sidebar.twig" %}
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                {% include "../partials/nav.twig" %}
                </div>

            </div>

        </div>

    </body>

{% endblock %}