<!-- Header Start -->

<header class="navigation">
    <nav class="navbar navbar-expand-lg  py-4" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                All
                <span>Pro</span>
            </a>

            <button aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed" data-target="#navbarsExample09" data-toggle="collapse" type="button">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown03">Services</a>
                        <ul aria-labelledby="dropdown03" class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/services">All</a>
                            </li>
                            {% for service in services %}
                                <li>
                                    <a class="dropdown-item" href="/">{{ service.service_name }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Contact</a>
                    </li>
                    <form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
                        <a class="btn btn-solid-border btn-round-full" href="/">Book us Now</a>
                    </form>
                    {% if user %}
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown04">Hi,
                                {{ user.name }}
                            </a>


                            <ul aria-labelledby="dropdown04" class="dropdown-menu">
                                {% if user.name == 'admin' %}
                                    <li>
                                        <a class="dropdown-item" href="/ceo">Dashboard</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="dropdown-item" href="/users/{{ user._id }}/show">Profile</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="/logout">Logout
                                    </a>
                                </li>
                            </ul>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Header Close -->
