<!-- Header Start -->

<header class="navigation">
    <nav class="navbar navbar-expand-lg  py-4" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                All <span>Pro</span>
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="dropdown03" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Services</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a href="/services" class="dropdown-item">All</a></li>
                            {% for service in services %}
                                <li><a class="dropdown-item" href="/">{{ service.name }}</a></li>
                            {% endfor %}
                            
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/">Contact</a></li>
                    <form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
                        <a href="/" class="btn btn-solid-border btn-round-full">Book us Now</a>
                    </form>
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Header Close -->