{% extends "./partials/layout.twig" %}
{% block links %}
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet">
    <link
    crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <!-- Stylesheet -->
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
{% endblock %}

{% block main %}

    <body>
        <div class="main-wrapper "></div>
        <div
            class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xs-12 col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div
                            class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                        </div>
                                        <form action='/ceo' autocomplete="off" class="user" method="POST">
                                            <div class="form-group">
                                                <input aria-describedby="emailHelp" class="form-control form-control-user" id="exampleInputEmail" name="name" placeholder="Username or email" type="text">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control form-control-user" id="exampleInputPassword" name="password" placeholder="Password" type="password">
                                            </div>
                                            <button class="btn btn-main btn-user btn-block" type="submit">
                                                Login
                                            </button>
                                            <hr>
                                            <a class="btn btn-google btn-user btn-block" href="/auth/google">
                                                <i class="fab fa-google fa-fw"></i>
                                                Login with Google
                                            </a>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="/register">Create an Account!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </body>
</div>{% endblock %}{% block scripts %}
<script>
    window.fbAsyncInit = function () {
        FB.init({appId: '{your-app-id}', cookie: true, xfbml: true, version: '{api-version}'});

        FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
        var js,
            fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>{% endblock %}
