{% extends "./partials/layout.twig" %}
{% block links %}
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet">
    <link
    crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <!-- Stylesheet -->
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

{% endblock %}

{% block main %}

    <body>
        <div class="main-wrapper ">
            {% include "./partials/header.twig" %}
            <div class="container">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div
                        class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address" type="email">
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" type="password">
                                            </div>
                                            <div class="col-sm-6">
                                                <input class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password" type="password">
                                            </div>
                                        </div>
                                        <a class="btn btn-main btn-user btn-block" href="login.html">
                                            Register Account
                                        </a>
                                        <hr>
                                        <a class="btn btn-google btn-user btn-block" href="index.html">
                                            <i class="fab fa-google fa-fw"></i>
                                            Register with Google
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/login">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% include "./partials/footer.twig" %}
        </div>


    {% endblock %}
    {% block scripts %}
        <script>
            window.fbAsyncInit = function () {
                FB.init({appId: process.env.FACEBOOK_APP_ID, cookie: true, xfbml: true, version: '3.3'});

                FB.AppEvents.logPageView();

            };

            (function (d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    {% endblock %}
