{% extends "../../partials/layout.twig" %}
{% block links %}
    <link href="/stylesheets/sb-admin-2.min.css" rel="stylesheet">
    {% block links2 %}{% endblock  %}
{% endblock %}
{% block main %}
    <body
        id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            {% include "./sidebar.twig" %}
            <div
                class="d-flex flex-column" id="content-wrapper">
                <!-- Main Content -->
                <div id="content">
                    {% include "./nav.twig" %}
                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">{{ heading }}</h1>
                            {% if heading == 'Dashboard' %}
                                <a class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" href="#">
                                    <i class="fas fa-download fa-sm text-white-50"></i>
                                    Generate Report</a>

                            {% endif %}
                            {% if heading == 'Services' %}
                                <a class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" href="/ceo/services/new">
                                    <i class="fas fa-plus fa-sm text-white-50"></i>
                                    Add Service</a>
                            {% endif %}
                        </div>
                        {% block content %}{% endblock %}

                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block scripts %}
        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        {% block scripts2 %}{% endblock %}
    {% endblock %}
</body>
