<!-- Sidebar -->
<ul
    class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="far fa-id-card"></i>

        </div>
        <div class="sidebar-brand-text mx-3">Service App<sup>1</sup>
        </div>
    </a>

    <!-- Divider -->
    <hr
    class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/ceo">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr
    class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo" data-toggle="collapse" href="#">
            <i class="fas fa-concierge-bell"></i>
            <span>Services</span>
        </a>
        <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionSidebar" id="collapseTwo">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">All Services</h6>
                <a class="collapse-item" href="/ceo/services">All</a>
                {% for service in services %}
                    <a class="collapse-item" href="/ceo/services/{{service._id}}">{{ service.serviceName }}</a>
                {% endfor %}
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a aria-controls="collapseUtilities" aria-expanded="true" class="nav-link collapsed" data-target="#collapseUtilities" data-toggle="collapse" href="#">
            <i class="fas fa-puzzle-piece"></i>
            <span>Addons</span>
        </a>
        <div aria-labelledby="headingUtilities" class="collapse" data-parent="#accordionSidebar" id="collapseUtilities">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Addons for:</h6>
                {% for service in services %}
                    <a class="collapse-item" href="/services/{{service._id}}/addons">{{ service.serviceName }}</a>
                {% endfor %}
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr
    class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a aria-controls="collapsePages" aria-expanded="true" class="nav-link collapsed" data-target="#collapsePages" data-toggle="collapse" href="#">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div aria-labelledby="headingPages" class="collapse" data-parent="#accordionSidebar" id="collapsePages">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr
    class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
